*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background: url(samosir-island-indonasia.png);
    /* object-fit: cover; */
    background-size: cover;
    /* background-blend-mode; */
}

h1{
    font-size: 50px;
    color: #fff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);


}
.btn{
    font-size: 22px;
    background: brown;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    margin-top: 35px;
}
.btn:hover{
    filter: brightness(.8);
}

.active.container{
    filter: blur(5px) brightness(0.7);
}

.popup-container{
    position: fixed;
    background-color: #fff;
    top: 30%;
    left: 35%;
    width: 400px;
    height: 200px;
    /* transform: translateX(-40%); */
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* align-items: center; */
    justify-content: center;
    border-radius: 8px;
    background: url("https://images.unsplash.com/photo-1664262283606-d4e198491656?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=812&q=80");
    background-size: cover;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
h4{
    font-size: 30px;
    font-family: sans-serif;
}
label{
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 5px;
}
.popup-btn{
    background-color: rgb(246, 55, 55);
    font-size: 20px;
    border: none;
    /* width: 50px; */
    /* margin: 0 auto; */
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 8px;
}
.emailinput{
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}
.emailinput::placeholder{
    color: lightgrey;
}
.close-icon{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}
.close-icon:hover{
    color: brown;
}

.active.popup-container{
    visibility: hidden;
}
@media (max-width:700px){
    .container{
        width: 100%;
        padding: 15px;
        height: 100vh;
    }
    h1{
        font-size: 30px;
    }

    
}
@media (max-width:676px){
    .popup-container{
        position: fixed;
        background-color: #fff;
        top: 40%;
        left: 15%;
        width: fit-content;
        height: fit-content;
        /* transform: translateX(-40%); */
        display: flex;
        flex-direction: column;
        padding: 20px;
        /* align-items: center; */
        justify-content: center;
        border-radius: 8px;
        background: url("https://images.unsplash.com/photo-1664262283606-d4e198491656?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=812&q=80");
        background-size: cover;
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    }
}