

body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aliceblue;
    font-family: sans-serif;
}
.btn{
    text-decoration: none;
    background-color: pink;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.3);
    color: #222;
    font-size: 18px;
    position: relative;
    overflow: hidden; /*we increased before content size to 300px to effect this on the button , so it will come out from the button limit s we use overflow: hidden over here */

}
.btn span{
    position: relative;
    z-index: 1;  /*it get the button on top layer*/
}

.btn::before{
    content: "";
    position: absolute;
    background-color: dodgerblue;
    width: 0; /*20px*/
    height: 0;/*20px*/
    top: var(--yposition); /*50% */
    left: var(--xposition); /* 50%; var used to get value from js   */
    border-radius: 50%;
    transform: translate(-50%, -50%); /*it makes put the item center -50% for x-axix other one Y axis*/
    transition: width .5s, height .5s; /*to get smooth*/
}

.btn:hover::before{  /*we wanna get hover effect on button "befor content is gonna apply as hover effect on the button"*/
    width: 300px;
    height: 300px;
}